<!doctype html>
<html lang="en">
<head>
  <!-- TODO: update the generator app to add proper titles to pages -->
  <title>FizzBuzz Pro</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script>
    // To yeet gumroad redirects to the top frame.
    if (top.location !== location) {top.location.href = document.location.href;}
  </script>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://use.typekit.net/mqh5bnl.css">
  <link rel="stylesheet" href="https://assets.fizzbuzz.pro/style/fizz.css">
</head>
<body>
  <div class="highlight preformatted"><div class="nav">
    <h2>Start Here</h2>
    <ul>
	<li><a href="./concepts/doc.go.html">A Competitive Programmer’s Toolbox</a></li>
	<li><a href="./about/doc.go.html">About <strong>FizzBuzz Pro</strong></a></li>
    </ul>

    <h2>Warm-Up Questions</h2>
    <ul>
	<li><a href="./warm-up/001-two-sum/doc.go.html">Two Sum</a></li>
	<li><a href="./warm-up/009-palindrome-number/doc.go.html">Check Palindrome Number</a></li>
	<li><a href="./warm-up/013-roman-to-integer/doc.go.html">Roman to Integer</a></li>
	<li><a href="./warm-up/014-longest-common-prefix/doc.go.html">Longest Common Prefix</a></li>
	<li><a href="./warm-up/020-valid-parentheses/doc.go.html">Valid Parenthesis</a></li>
    </ul>

    <h2>Practice Questions</h2>
      <!-- TODO: move these inline styles to the main css -->
    <p style="background: #fef9c3; border:1px #fef9c3   solid; border-left: 8px #fde047 solid; border-radius: 4px; padding: 1em;width:350px;margin: 0 auto;text-align: center; padding: 1em;margin-bottom:2em;margin-top:1em;	">
    💁‍️ The questions below require a <strong>FizzBuzz Pro Premium</strong> subscription.
    </p>
    <ul>
	<li><a href="./pro/208-implement-trie/doc.go.html">Implement a Trie</a></li>
    </ul>

    <hr>
<pre><span></span>
<span class="cm">/*</span>
<span class="cm"> *  \</span>
<span class="cm"> *  \\,</span>
<span class="cm"> *   \\\,^,.,,.                     Zero to Hero</span>
<span class="cm"> *   ,;7~((\))`;;,,               &lt;<a href="https://zerotohero.dev" class="inline">zerotohero.dev</a>&gt;</span>
<span class="cm"> *   ,(@&#39;) ;)`))\;;&#39;,    stay up to date, be curious: learn</span>
<span class="cm"> *    )  . ),((  ))\;,</span>
<span class="cm"> *   /;`,,/7),)) )) )\,,</span>
<span class="cm"> *  (&amp; )`   (,((,((;( ))\,</span>
<span class="cm"> */</span></pre>
</div></div>
<div class="copyright">
  <p>Copyright © <a href="https://volkan.io">Volkan Özçelik</a>.<br>
  <strong>FizzBuzz Pro</strong> is a <a href="https://zerotohero.dev/">Zero to Hero</a> initiative.</p>
</div>
</body>
</html>
