<!doctype html>
<html lang="en">
<head>
  <title>FizzBuzz Pro Premium</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://use.typekit.net/mqh5bnl.css">
  <link rel="stylesheet" href="https://assets.fizzbuzz.pro/style/fizz.css">
  <script>
    // To yeet gumroad redirects to the top frame.
    if (top.location !== location) {top.location.href = document.location.href;}
</script>
</head>
<body>
<div class="highlight preformatted">
  <div class="nav">
    <h2 style="margin-top:0;text-align:center;display:block;">🦄 Premium Content 🦄</h2>

    <p style="text-align:center;margin:-1em;margin-bottom:2em;margin-top:1em;background: #fef3c7;padding: 1em;border:1px #fcd34d solid;">
       👇 Complete the form below to unlock <strong>FizzBuzz Pro Premium</strong> 👇
    </p>
    <script src="https://gumroad.com/js/gumroad-embed.js"></script>
    <div class="gumroad-product-embed" data-gumroad-params="email={{ .email }}">
      <a href="https://volkano.gumroad.com/l/fizzbuzz">Loading...</a>
    </div>
  </div>
</div>
<div class="copyright">
  <p>Copyright © <a href="https://volkan.io">Volkan Özçelik</a>.<br>
  <strong>FizzBuzz Pro</strong> is a <a href="https://zerotohero.dev/">Zero to Hero</a> initiative.</p>
</div>
</body>
</html>
